@import "../../variables.scss";

.GuestMgmt {
  border-radius: 10px;
  border: 1px solid var(--Stroke-Color, #eff0f6);
  background: #fff;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
  padding: 32px 40px;

  .GuesMgmt__top {
    h5 {
      color: $secondaryColor;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 16px;
    }
    p {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        color: $secondaryColor;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 16px;
      }
    }
  }
  .GuestMgmt__tabs {
    margin: 16px 0;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        border-bottom: 1px solid #d5d5d5;
        left: 0;
        right: 0;
        bottom: -16px;
      }

      a {
        text-decoration: none;
        color: #626366;
      }

      li {
        min-width: 93px;
        width: max-content;
        height: 21px;
        color: #626366;
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.56px;
        text-transform: capitalize;
        position: relative;
        cursor: pointer;
        text-align: center;
      }
      .tab__selected {
        color: #e70909;
        text-align: center;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -16px;
          border-bottom: 2px solid #e70909;
        }
      }
    }
  }
}
