.CBA,
.IDProof,
.GuestPersonal {
  padding-top: 24px;
  form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    label {
      width: calc(100% / 2 - 24px);
      display: flex;
      flex-direction: column;
      align-items: baseline;
      color: #5e6366;
      font-size: 12px;
      font-weight: 400;
      gap: 8px;
      position: relative;

      input {
        padding: 8px 16px;
        border-radius: 8px;
        border: 1px solid #5e6366;
        max-width: 100%;
        width: 93%;
        // height: 50px;
        height: 34px;

        &:focus {
          outline: none;
        }
      }
    }
  }

  hr {
    margin: 40px 0 10px;
  }
}
