@import "fonts";
@import "variables.scss";

* {
  &::-webkit-scrollbar {
    width: 4px;
  }

  .Toastify__toast-container {
    width: max-content !important;

    a {
      color: #757575;
      text-decoration: none;
    }
  }

  /* Style the scrollbar thumb */
  &::-webkit-scrollbar-thumb {
    background-color: #888; /* Change this color to your preferred scrollbar color */
    border-radius: 8px;
  }

  /* Style the scrollbar track on hover (optional) */
  &::-webkit-scrollbar-track:hover {
    background-color: #ddd; /* Change this color to your preferred hover color */
  }
}

.App {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  font-display: swap;
  height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  background: #f9f9f9;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  s h6,
  ul,
  li {
    margin: 0;
    padding: 0;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  .page-container {
    display: flex;
    // gap: 24px;

    .page-side {
      height: 100%;
      // min-height: 100vh;
      width: 246px;
      // padding: 24px;
      border: 1px solid var(--Stroke-Color, #eff0f6);
      background: var(--Base-White-100, #fff);
      box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .page-body {
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 1140px;
      padding: 0 24px;
    }
  }
}
