@import "../../variables.scss";

.NotFoundPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35%;
  gap: 10px;

  h2 {
    color: $defaultColor;
    font-size: 32px;
  }

  p {
    color: $secondaryColor;
    font-size: 24px;
  }
}
